body {
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}
#wrapper {
	max-width: 960px;
	margin: auto;
}
header {
	padding: 20px 0;
}
form[name="search"] {
	float: right;
}
nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
.top-menu li {
	display: inline-block;
	padding: 10px 30px;
    margin: 0;
    background: #29c5e6;
    color: #fff;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}